{% extends 'base.html' %}
{% block content %}

<h1>Event List</h1>

{% for event in event_list %}
<a href="{% url 'events_detail' event.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ event.name }}</span>
            <p>Title: {{ event.title }}</p>
            <p>Location: {{ event.location }}</p>
            <p>Event Type: {{ event.event_type }}</p>
            <p>Start Date/Time: {{ event.start_date }} {{ event.start_time }} </p>
            <p>End Date/Time: {{ event.end_date }} {{ event.end_time }} </p>
            <p>Description: {{ event.description }}</p>
            <p>Event Watchers: {{ event.users_watching.all|length }}</p>
            <p>Created By: {{ event.created_by }}</p>            
        </div>
    </div>
</a>
{% endfor %}

{% endblock %}