{% extends 'base.html' %}
{% block content %}

<h1>Event List</h1>

<div class="row">
    {% for event in event_list %}
    <div class="col s12 m6 l4">
     <a href="{% url 'events_detail' event.id %}">
      <div class="card">
        <div class="card-image">
          <img src="https://miro.medium.com/max/1400/1*9IIoxOcIbhMFFKMCI2ncuQ.jpeg" height="200px" style="background-color:black;">
          <a class="btn-floating pulse halfway-fab waves-effect waves-light red" href="{% url 'events_watchlist' event.id %}"><i class="material-icons md-24">visibility</i></a>
        </div>
        <div class="card-content">
            <span class="card-title">{{ event.title }}</span>
            <p><i class="tiny material-icons">place</i> Location: {{ event.location }}</p>
            <p><i class="tiny material-icons">event</i> Date: {{ event.start_date }} {{ event.start_time }} </p>
            <p><i class="tiny material-icons">event</i> Watching: {{ event.users_watching.all|length}} Watching </p>
        </div>
      </div>
    </a>
    </div>
    {% endfor %}
  </div>


{% endblock %}