{% extends 'base.html' %}
{% block content %}



<h1>Cosmic Events Details</h1>
{% if user.is_authenticated %}
{% if user in event.users_watching.all %}
<form method="post" action="{% url 'events_watchlistremove' event.id %}">
    {% csrf_token %}
   <button>Remove from Watchlist</button>
</form>
{% else %}
<form method="post" action="{% url 'events_watchlist' event.id %}">
    {% csrf_token %}
   <button>Add to Watchlist</button>
</form>
{% endif %}
{% endif %}


<!-- BEGIN MAIN EVENT CARD -->

    <div class="col s12 m6">
     <a href="{% url 'events_detail' event.id %}">
      <div class="card large" style="width:auto">
        <div class="card-image">
          <img src="https://images.pexels.com/photos/4644812/pexels-photo-4644812.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" height="200px" style="background-color:black;">
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="{% url 'events_watchlist' event.id %}"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">

            <span class="card-title">{{ event.title }}</span>
            <p>Location: {{ event.location }}</p>
            <p>Event Type: {{ event.event_type }}</p>
            <p>Start Date/Time: {{ event.start_date }} / {{ event.start_time }} </p>
            <p>End Date/Time: {{ event.end_date }} / {{ event.end_time }} </p>
            <p>Description: {{ event.description }}</p>
            <p>Event Watchers: {{ event.users_watching.all|length }}</p>
            <p>Created By: {{ event.created_by }}</p>
        </div>
    </div>
  </a>

<!-- END MAIN EVENT CARD -->


<!-- BEGIN VIEWING PARTY CARDS -->

<div class="col s12 offset-m1">
<div class="row">
    <h3>{{ user }}'s Viewing Parties or available viewing parties</h3>
    <!-- add associated viewing parties if statement -->
    <div class="col m4 item-card" >
     <a href="{% url 'events_detail' event.id %}">
         
      <div class="card small" style="width:300px">
        <div class="card-image">
          <img src="https://images.pexels.com/photos/4644812/pexels-photo-4644812.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" height="200px" style="background-color:black;">
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="{% url 'events_watchlist' event.id %}"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
            <span class="card-title">{{ viewingparty.name }}</span>
            <p>Location: {{ viewingparty.location }}</p>
            <p>Start Date/Time: {{ viewingparty.start_date }} {{ viewingparty.start_time }} </p>
        </div>
      </div>
      <!-- else statement here for no viewing parties if user is not attendint parties -->
    </a>
    </div>
   


    
<!-- END CARD -->



<!-- add edit button below -->
{% if user == event.created_by %}
<div class="card-action">
    <a href="{% url 'events_update' event.id %}">Edit</a>
</div>

{% endif %}

{% endblock %}



