{% extends 'base.html' %}
{% block content %}

<div class="container">




  <h1>Cosmic Events Details</h1>

  <!-- BEGIN MAIN EVENT CARD -->

      <div class="col s12 m6">
        <div class="card x-large" style="width:auto">
          <div class="card-image">
            {% if photo != False %}
            <img src="{{photo.url}}" style="background-color:black;height:100%;width:100%;object-fit: contain;">
            {% else %}
            <img src="https://images.pexels.com/photos/4644812/pexels-photo-4644812.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" style="background-color:black;height:100%;width:100%;object-fit: contain;">
            {% endif %}
            
            {% if user in event.users_watching.all %}
            <form method="POST" action="{% url 'events_watchlistremove' event.id %}">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.path }}">
              <button type="submit" onclick="M.toast({html: 'Event removed from watchlist.'})" class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="left" data-tooltip="Remove from Watchlist"><i class="material-icons md-24">visibility_off</i></button>
            </form>
          {% else %}
            <form method="POST" action="{% url 'events_watchlist' event.id %}">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.path }}">
              <button type="submit" onclick="M.toast({html: 'Event added to watchlist.'})" class="btn-floating pulse halfway-fab waves-effect waves-light blue tooltipped" data-position="left" data-tooltip="Add to Watchlist"><i class="material-icons md-24">visibility</i></button>
            </form>
          {% endif %}          
          <span class="card-title"><h3>{{ event.title }}</h3></span>
          </div>
          
          <div class="card-content">
            <div class="row">
              <div class="col s6">
              <p><i class="tiny material-icons">place</i> Location: {{ event.location }}</p>
              <p><i class="tiny material-icons">rocket</i> Type: {{ event.event_type }}</p>
              <p><i class="tiny material-icons">visibility</i> Event Watchers: {{ event.users_watching.all|length }}</p>
            </div>
            <div class="col s6">
              <p><i class="tiny material-icons">event</i> Start Date/Time: {{ event.start_date }} / {{ event.start_time }} </p>
              <p><i class="tiny material-icons">event</i> End Date/Time: {{ event.end_date }} / {{ event.end_time }} </p>
              <p><i class="tiny material-icons">event</i>Best Viewing Date/Time: {{ event.best_date }} / {{ event.best_time }} </p>
              </div>
              <br>
              <br>
            </div>
              <p><i class="tiny material-icons"></i>{{ event.description }}</p>
              <br>
              <p><i class="tiny material-icons">person</i> Created By: {{ event.created_by }}
              {% if user == event.created_by %}

                  <a href="{% url 'events_update' event.id %}">Edit</a>

              {% endif %}
                </p>
          </div>
      </div>

  <!-- END MAIN EVENT CARD -->


  <!-- BEGIN VIEWING PARTY CARDS -->

  <h2>Viewing Parties</h2>

  <div class="row">

    {% for party in parties %}

    <div class="col s12 m6 l4">
        <a href="{% url 'parties_detail' party.id %}">
            <div class="card z-depth-2">
                <div class="card-image">
                    <img src="" height="200px" style="background-color: black;">
                    <span class="card-title">{{ party.name }}</span>
                    {% if user in party.attendees.all %}
                        <a href="{% url 'parties_remove_attendee' party.id %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_remove</i></a>
                    {% else %}
                        <a href="{% url 'parties_add_attendee' party.id %}" class="btn-floating pulse halfway-fab waves-effect waves-light blue"><i class="material-icons">person_add</i></a>
                    {% endif %}
                </div>
                
                <div class="card-content">
                    <p><i class="tiny material-icons">place</i> {{ party.party_location }}</p>
                    <p><i class="tiny material-icons">event</i> {{ party.start_date }} @ {{ party.start_time }}</p>
                    <p><i class="tiny material-icons">group</i> {{ party.attendees.all|length}} Attending</p>
                </div>
            </div>
        </a>
    </div>

    {% endfor %}
    
  </div>
        
  <!-- END VIEWING PARTY CARDS -->


  <!-- add edit button below -->
  {% if user %}

  <form method="post" action="{% url 'parties_create' %}">
    {% csrf_token %}
  <button class="btn">Create Viewing Party</button>
  </form>

  {% endif %}

</div>

{% endblock %}



