{% extends 'base.html' %}


{% block content %}

{% if object %}
<h1>Edit {{object.title}}</h1>
{% else %}
<h1>Add Cosmic Event</h1>
{% endif %}
<!-- Leaving the action blank will use the same url that was used in order to get the form -->
<form action="" method="POST">
	{% csrf_token %}
	<table>
		<!-- <input type="text" id="id_start_time"> -->
		{{ form.as_table }}
	</table>

	<input type="submit" value="submit" class="btn" />
</form>

<script>
	const startDateEl = document.getElementById('id_start_date');
	M.Datepicker.init(startDateEl, {
		format: 'yyyy-mm-dd',
		defaultDate: new Date(),
		setDefaultDate: true,
		autoClose: true
	})

    const endDateEl = document.getElementById('id_end_date');
	M.Datepicker.init(endDateEl, {
		format: 'yyyy-mm-dd',
		defaultDate: new Date(),
		setDefaultDate: true,
		autoClose: true
	})

	const startTimeEl = document.getElementById('id_start_time');
	M.Timepicker.init(startTimeEl, {
		autoClose: true,
		twelveHour: false
	})

    const endTimeEl = document.getElementById('id_end_time');
	M.Timepicker.init(endTimeEl, {
		autoClose: true,
		twelveHour: false
	})


</script>

{% endblock content %}