{% extends 'base.html' %}
{% block content %}

<h1>Cosmic Events Details</h1>
{% if user.is_authenticated %}
<form method="post" action="{% url 'events_watchlist' user.id %}">
    {% csrf_token %}
   <button>Add to Watchlist</button>
</form>
{% endif %}

<p>Title: {{ event.title }}</p>
<p>Location: {{ event.location }}</p>
<p>Event Type: {{ event.event_type }}</p>
<p>Start/End Time: {{ event.start_time }} / {{ event.end_time }} </p>
<p>Description: {{ event.description }}</p>
<p>Event Watchers: {{ event.users_watching }}</p>
<p>Created By: {{ event.created_by }}</p>

<!-- add edit button below -->
{% if user == event.created_by %}
<div class="card-action">
    <a href="{% url 'events_update' event.id %}">Edit</a>
</div>
{% endif %}

{% endblock %}