{% extends 'base.html' %}
{% block content %}

<h1>Event List</h1>

<div class="row">
    {% for event in event_list %}
    <div class="col s12 m6">
     <a href="{% url 'events_detail' event.id %}">
      <div class="card">
        <div class="card-image">
          <img src="" height="200px" style="background-color:black;">
          <span class="card-title">{{ event.title }}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="{% url 'events_watchlist' event.id %}"><i class="material-icons">visibililty</i></a>
        </div>
        <div class="card-content">
            <p>Location: {{ event.location }}</p>
            <p>Start Date/Time: {{ event.start_date }} {{ event.start_time }} </p>
        </div>
      </div>
    </a>
    </div>
    {% endfor %}
  </div>


{% endblock %}