{% extends 'base.html' %}


{% block content %}

{% if object %}
<h1>Edit {{object.title}}</h1>
{% else %}
<h1>Add Cosmic Event</h1>
{% endif %}
<!-- Leaving the action blank will use the same url that was used in order to get the form -->
<form action="" method="POST">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>

	<input type="submit" value="submit" class="btn" />
</form>

<script>
	// const startDateTimeEl = document.getElementById('id_start_time');
	// M.Datepicker.init(startDateTimeEl, {
	// 	format: 'yyyy-mm-dd',
	// 	defaultDate: new Date(),
	// 	setDefaultDate: true,
	// 	autoClose: true
	// })

    // const endDateTimeEl = document.getElementById('id_end_time');
	// M.Datepicker.init(endDateTimeEl, {
	// 	format: 'yyyy-mm-dd',
	// 	defaultDate: new Date(),
	// 	setDefaultDate: true,
	// 	autoClose: true
	// })

	// $(document).ready(function () {
	// 	M.AutoInit();
	// 	const DateField = MaterialDatePicker.create($('input#id_start_time'))
	// });

</script>

{% endblock content %}