{% extends 'base.html' %}

{% block content %}

{% if object %}

<h1>Edit {{object.title}}</h1>

{% else %}

<h1>Create Viewing Party</h1>

{% endif %}

<form action="" method="POST">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="submit" class="btn" />
</form>

<script>
    $(document).ready(function () {
        $('#id_start_date').datepicker();
        $('#id_start_time').timepicker();
        $('#id_end_date').datepicker();
        $('#id_end_time').timepicker();

    });
</script>

{% endblock content %}