{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cosmos</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<header class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<ul>
					<li><a href="/" class="left brand-logo">&nbsp;&nbsp;Cosmos</a></li>
				</ul>
				<ul class="right">
                    {% if user.is_authenticated %}
                    <ul id="dropdown" class="dropdown-content">
                        <li><a href="#">My Profile</a></li> 
                        <li><a href="#">My Viewing Parties</a></li>
                        <li><a href="#">My Events</a></li>
                        <li><a href="{% url 'account_logout' %}">Log Out</a></li>
                    </ul>
                    <ul class="dds">
                        <li><a href="{% url 'parties_list' %}">All Viewing Parties</a></li>
                        <li><a href="{% url 'events_list' %}">All Cosmic Events</a></li>
                        <li><a class="dropdown-trigger" data-target="dropdown">Profile</a></li>
                    </ul>

                    {% else %}
          
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'account_login' %}">Log In</a></li>
                  
                  {% endif %}
        </ul>
			</div>
		</nav>
	</header>
	<main class="container">
		{% block content %}
		{% endblock %}
	</main>
	<footer class="page-footer">
		<div class="right">All Rights Reserved, &copy; 2022 Cosmos &nbsp;</div>
	</footer>
    <script src="{% static 'js/materializedatetimepicker.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body> 
</html>









