{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cosmos</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <script src="{% static 'js/main.js' %}"></script>
  	<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0-beta.7/web.js"></script>
	<script>
	const accessToken = 'pk.eyJ1IjoibWF5YXBhcGF5YTciLCJhIjoiY2wxc3puN3Y2MmQ5MDNjanhtMTM1a2dyNiJ9.qGWA5EHxq-7X2G5woYkxEA';
	const script = document.getElementById('search-js');
	script.onload = function() {
		mapboxsearch.autofill({
		accessToken
	});
	};
	</script>
</head>
<body>
	<header class="navbar-fixed">
		<nav>
			<div class="nav-wrapper black">
				<ul>
					<!-- <li><img src="../static/img/space_icon.png" width="40px"></li> -->
					<li><a href="/" class="left brand-logo">&nbsp;&nbsp;🚀Cosmos</a></li>
				</ul>
				<ul class="right">
                    {% if user.is_authenticated %}
                    <ul id="dropdown" class="dropdown-content">
                        <li><a href="{% url 'profile' %}">My Profile</a></li> 
                        <li><a href="{% url 'users_detail' user.id %}#my-events">My Events</a></li>
                        <li><a href="{% url 'users_detail' user.id %}#my-parties">My Viewing Parties</a></li>
                        <li><a href="{% url 'account_logout' %}">Log Out</a></li>
                    </ul>
                    <ul class="dds">
                        <li><a href="{% url 'parties_list' %}">Viewing Parties</a></li>
                        <li><a href="{% url 'events_list' %}">Cosmic Events</a></li>
                        <li><a class="dropdown-trigger" data-target="dropdown">Profile</a></li>
                    </ul>

                    {% else %}
          
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'account_login' %}">Log In</a></li>
                  
                  {% endif %}
        		</ul>
			</div>
		</nav>
	</header>
	<main>
		{% block content %}
		{% endblock %}
	</main>
	<footer class="page-footer black">
		<div class="right">All Rights Reserved, &copy; 2022 Cosmos &nbsp;</div>
	</footer>
</body> 
</html>









