{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            {% if photo == False %}
            <div class="col s4 "><img src="{% static '/img/space_pic.jpeg' %}" class="responsive-img z-depth-2"></div>
            {% else %}
            <div class="col s4 "><img src="{{ photo_url }}" class="responsive-img z-depth-2"></div>
            {% endif %}
            <div class="col s10"><h3>This is the profile page for {{user.username}}</h1></div>
        </div>
    
        <form method="post" action="{% url 'profile' %}" class="row">
            {% csrf_token %}
            {{ user_form.as_p}}
            {{ profile_form.as_p }}

            <input type="submit" class="btn" value="Save Changes">
        </form>

    {% if photo.profile.id == Null %}
        <form action="{% url 'add_photo' user.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="btn" value="Upload Photo">

    {% else %}

        <input type="submit" class="btn" value="Change Photo">
    {% endif %}
    </form>
    </div>

{% endblock content %}