.card img{
    width: 100%;
}

#datetime
{
    border-bottom: 1px solid #fff;
    color: #fff
}

.item-card{
    position: relative;
}

.offset-m1,.item-card{padding-left:0!important;}

/*----- USER PROFILE -----*/

.profile-banner {
    position: absolute;
    left: 0;
    background-size: cover;
    width: 100vw;
    height: 300px;
}

.profile-avatar {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: red;
}