.card img{
    width: 100%;
}

#datetime
{
    border-bottom: 1px solid #fff;
    color: #fff
}

.item-card{
    position: relative;
}

.offset-m1,.item-card{padding-left:0!important;}

.dropdown-content{
    width: max-content !important;
    height:auto !important;
 }